DATABASE_URL=postgres://username:password@hostname:port/dbname
SECRET_KEY=your_secret_key
DEBUG=False
ALLOWED_HOSTS=your_allowed_hosts
DJANGO_SETTINGS_MODULE=movie_theater_booking.settings
STATIC_URL=/static/
MEDIA_URL=/media/
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.your_email_provider.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password